In [1]:
from sys import displayhook
import pandas as pd
import os
import glob

In [7]:
# Folder Path
path = "Your Path"
# Change the directory
os.chdir(path)
# use glob to get all the csv files
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))

In [8]:
for f in csv_files:

	# read the csv file
	df = pd.read_csv(f)

	# print the location and filename
	#print('Location:', f)
	#print('File Name:', f.split("\\")[-1])

	# print the content
	print('Content:')
	displayhook(df)
	print()

Content:

    A   B   C Class
0  a1  b1  c1     +
1  a2  b2  c1     -
2  a1  b2  c2     +
3  a3  b1  c1     +
4  a3  b2  c1     -
5  a2  b1  c2     -

Content:

    Color     Type  Doors      Tires Class
0    Blue  Minivan      4  Whitewall     -
1   Green      Car      4  Whitewall     -
2     Red  Minivan      4  Blackwall     -
3   Green      SUV      4  Blackwall     -
4    Blue      Car      4  Blackwall     -
5   Green      SUV      4  Whitewall     +
6   Green  Minivan      4  Whitewall     -
7     Red      SUV      2  Whitewall     +
8   Green      Car      2  Blackwall     +
9    Blue      SUV      2  Blackwall     -
10   Blue      Car      2  Whitewall     +
11    Red      Car      2  Blackwall     +
12  Green      SUV      2  Blackwall     -
13    Red      SUV      2  Blackwall     -

Content:

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [5]:
from sys import displayhook
import pandas as pd
import os
import glob

In [6]:
def read_text_file(file_path):
	with open(file_path, 'r') as f:
		print(f.read())

In [7]:
# Folder Path
path = "your path"
# Change the directory
os.chdir(path)
# use glob to get all the csv files
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))

In [8]:
# iterate through all file
for file in os.listdir():
	# Check whether file is in text format or not
	if file.endswith(".txt"):
		file_path = f"{path}/{file}"

		# call read text file function
		read_text_file(file_path)

Text 2 file
this test file
Test data
All data
Text 1 file
this test file
Test data
All data